[Unit]
Description=Cloud City Flask App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/app/app
ExecStart=/opt/app/venv/bin/gunicorn -c /opt/app/gunicorn.conf.py app:app
Restart=always

[Install]
WantedBy=multi-user.target